* { margin: 0px;
	padding: 0px;
}
body {
	background:url(../img/bg_pretobras.png) no-repeat center center;}
	
#body {
	font-family:Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	color: #333;
}

#header {
	background-color:#fff;
} 

#usuario {
	height:30px;
} 
	
#tb_header_login{
	background:#e1d8c9;}
	
#content {
	background:#fff;
	//padding-top: 10px;
	width:100%;
}

#content_Popup {
		font-family:Arial, sans-serif;
	background:#fff;}

a {
	text-decoration:none;
	color: #c52e33;}

table td{
	font-size:10px;
	line-height: 22px;
}

th{
	font-size:10px;
	line-height: 22px;
}
a:hover {
	color: #f3c307;}
		
.bienvenido {
	color:#666;
	font-size:12px;
	padding: 15%;}
		
.button a  {
	background:#c52e33;
	border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-radius: 2px 2px 2px 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	display: block;
	position: relative;
	cursor: pointer;
	color: white !important;
	font-size: 10px;
	text-align:center;
	line-height: 20px;
	padding: 3px 12px;
	border:none}
	
.button a:hover  {
		background:#666;}  
	
		
.button_LOGIN a  {
	background:#fff;
	border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-radius: 2px 2px 2px 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	display: block;
	position: relative;
	cursor: pointer;
	color:#1a4b8e !important;
	font-size: 12px;
	text-align:center;
	line-height: 25px;
	padding: 3px 12px;}
	
.button_LOGIN a:hover  {
	background:#ccc;}

.user {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	text-transform:uppercase;}
	
.tituloh1 {
	font-weight:bold;
	font-size: 13px;
	color: #c52e33;
	line-height:32px;
	border-bottom: 1px solid #ccc;
	width:100%;
	padding-left:2%;
	text-transform:uppercase;
	}
	
.titulo_login {
		font-weight:bold;
		font-size: 20px;
		text-align:center;
		color: #333;
		line-height:30px;}
	
.txt_login {
		font-size: 12px;
		color: #333;
		line-height:30px;}
			
.tituloh2, .titulo_pop-up {
	font-weight:bold;
	font-size: 12px;
	color: #666;
	line-height:32px;
	padding-left:2%;
	padding-bottom:0;
	text-transform:uppercase;;
	}

.titulo_grilla{
		background: #a6a6a6;
		font-weight: bold;
		text-align: center;
		color: #fff;}
				
.celda1_grilla{
		background: #ebebeb;
		text-align: left;
		padding-left: 1%;
		color: #666;}
		
.celda2_grilla{
	
		line-height: 20px;
		text-align: left;
		padding-left: 1%;;
		color: #666;}
.texto {
	font-family: Arial;
	font-size: 11.5px;
	text-align:left;
	color: #666;
	padding-left:5px;
	line-height:25px;}

.ui-inputfield{
	font-family: arial;
	font-size:11px;
	color: #666;
	border: 1px solid #b9b9b9;
	border-radius:3px;
	padding: 6px 3px;		
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
	border-radius: 3px;
		-webkit-box-shadow: #e0e0e0 0 2px 4px inset;
		-moz-box-shadow: #e0e0e0 0 2px 4px inset;
		-ms-box-shadow: #e0e0e0 0 2px 4px inset;
		-o-box-shadow: #e0e0e0 0 2px 4px inset;
	box-shadow: #de0e0e0 0 2px 4px inset;
	width:90%;
	}
.ui-combo{
	background:#ebebeb;
	font-family: arial;
	font-size:11px;
	color: #666;
	border: 1px solid #999;
	border-radius:2px;
	padding: 4px; 		
	-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	border-radius: 2px;

	width:90%;}

#footer{
	background-color:#fff;
	border-top: 1px solid #ccc;
	padding-bottom: 1%;
	padding-top: 1%;
	bottom: 100%;}
	
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.form-textcontrol{
	display:block;
	/*width:100%;*/
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	color:#55595c;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:.25rem
}
.inlinecontrols{
	display: inline-block;
	margin: 0;
	padding: 0;
}