@{
    ViewBag.Title = "Sistema de Oleaoductos";
}

<div ng-view>

</div>

@section scripts
{
    @*<script type="text/javascript">
        registrationModule.factory("dataRepositroy", function () {
            return {
                listadePaises: @Html.Raw(Model.ListadePaises)
                }
        });
    </script>*@
}