<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CNPC_DuctosEntities" connectionString="metadata=res://*/DuctosDBModel.csdl|res://*/DuctosDBModel.ssdl|res://*/DuctosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB_9EB27B_ducto;user id=CNPC_USUARIO;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>