<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CNPC_Ductos" connectionString="Data Source=MDP260\SQLSERVER2014;initial catalog=CNPC_Ductos; Integrated Security=yes"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicio" closeTimeout="00:05:00" openTimeout="00:01:00" receiveTimeout="00:02:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="9000000" maxStringContentLength="9000000" maxArrayLength="9000000" />
          <security mode="None" />
        </binding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Message" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3990/Servicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicio" contract="IServicio" name="BasicHttpBinding_IServicio" />
      <!--<endpoint address="http://joseliza-001-site3.ftempurl.com/Servicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicio" contract="IServicio" name="BasicHttpBinding_IServicio" />-->

    </client>
  </system.serviceModel>
</configuration>