<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://joseliza-001-site3.ftempurl.com/Servicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicio"
                contract="IServicio" name="BasicHttpBinding_IServicio" />
        </client>
    </system.serviceModel>
</configuration>