<div id="content" align="center">
    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td class="tituloh1"><label>Lista de Oleoductos</label></td>
        </tr>
        <tr>
            <td>
                <table width="50%" border="0" align="right">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" align="right">
                                    <td>
                                        <input class="ui-inputfield" id="txtoleoductobuscar" />
                                    </td>
                                </table>
                            </td>
                            <td>
                                <table width="70%" border="0" align="left">
                                    <td class="button">
                                        <a href="#" target="_self">BUSCAR</a>
                                    </td>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" align="center">
                    <tr>
                        <td colspan="8" align="center">
                            <table width="90%" border="0">
                                <thead>
                                    <tr>
                                        <th align="center" class="titulo_grilla">ID</th>
                                        <th align="center" class="titulo_grilla">Código</th>
                                        <th align="center" class="titulo_grilla">Descripción</th>
                                        <th align="center" class="titulo_grilla">N° de Lamina</th>
                                        <th align="center" class="titulo_grilla">Ubicación</th>
                                        <th align="center" class="titulo_grilla">Longitud</th>
                                        <th align="center" class="titulo_grilla">FECHA INSPECCION</th>
                                        <th width="5%" align="center" class="titulo_grilla">Registro</th>
                                        <th width="6%" align="center" class="titulo_grilla">VerInformación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="celda2_grilla" ng-repeat="item in listaOleoductos">
                                        <td width="5%" align="center" class="celda2_grilla">{{item.Id}}</td>
                                        <td width="10%" class="celda2_grilla">{{item.Codigo}}</td>
                                        <td width="30%" class="celda2_grilla">{{item.Trayectoria}}</td>
                                        <td width="15%" class="celda2_grilla">{{item.NoLamina}}</td>
                                        <td width="5%" class="celda2_grilla">{{item.Ubicacion}}</td>
                                        <td width="8%" class="celda2_grilla">{{item.LongitudTotal}}</td>
                                        <td width="10%" class="celda2_grilla">{{item.FechaInspeccion|date:'dd/MM/yyyy'}}</td>

                                        <td align="center"><a href="#" ng-click="editarOleoducto(item)"><img src="Content/img/ico-editar.png" width="17" height="17" alt="" style="border:none;" /></a></td>
                                        <td align="center"><a href="#" ng-click="verOleoducto(item)"><img src="Content/img/ico-ver.png" width="16" height="18" alt="" style="border:none;" /></a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="15" align="center">
                                            <table width="30%" border="0" align="left">
                                                <tbody>
                                                    <tr>
                                                        <td class="texto"><label>7 Registros encontrados</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table width="30%" border="0" align="right">
                                                <tbody>
                                                    <tr>
                                                        <td align="right" class="texto" style="text-align:right"><a href="#"><strong>[1]</strong></a> <strong><a href="#">&nbsp;[2]</a> <a href="#">[3]</a>&nbsp; <a href="#">[4]</a>&nbsp; <a href="#">[5]</a> | Paginaci&oacute;n</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="15" align="center">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="15" align="center">
                                            <table width="30%" border="0" align="right">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" align="right">
                                                                <td class="button">
                                                                    <a href="#" ng-click="agregarOleoducto()">
                                                                        Agregar Oleoducto
                                                                    </a>
                                                                </td>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table width="100%" border="0" align="right">
                                                                <td class="button">
                                                                    <a href="#" target="_self">
                                                                        IMPRIMIR
                                                                    </a>
                                                                </td>
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table width="100%" border="0" align="right">
                                                                <td class="button">
                                                                    <a href="Login.html" target="_self">SALIR</a>
                                                                </td>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="15" align="center">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!-- Modal -->
<div id="NuevoOleoducto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Nuevo Oleoducto
                </h4>
            </div>
            <div class="modal-body">
                <table border="0" align="center">
                    <tr>
                        <td class="texto">
                            <label>Código</label>
                        </td>
                        <td class="texto" align="left">
                            <div ng-class="{'has-error':nuevoDucto.Codigo==''}">
                                <input type="text" class="form-control ui-inputfield" id="txtCodigo" ng-model="nuevoDucto.Codigo">
                            </div>
                        </td>
                        <td class="texto">
                            <label>Fecha</label>
                        </td>
                        <td align="left">
                            <input class="ui-inputfield" type="date" name="date" id="date" ng-model="nuevoDucto.FechaInspeccion">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>No Lamina</label>
                        </td>
                        <td class="texto" colspan="3" align="left">
                            <div ng-class="{'has-error':nuevoDucto.NoLamina==''}">
                                <input type="text" id="txtNoLamina" class="form-control ui-inputfield" ng-model="nuevoDucto.NoLamina">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Descripción</label>
                        </td>
                        <td class="texto" colspan="3" align="left">
                            <div ng-class="{'has-error':nuevoDucto.Trayectoria==''}">
                                <input type="text" id="txtCodigo" class="form-control ui-inputfield" ng-model="nuevoDucto.Trayectoria">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Ubicación</label>
                        </td>
                        <td class="texto">
                            <div ng-class="{'has-error':nuevoDucto.Ubicacion==''}">
                                <input type="text" id="txtUbicación" class="form-control ui-inputfield" ng-model="nuevoDucto.Ubicacion">
                            </div>
                        </td>
                        <td class="texto">
                            <p class="text-center">NPS</p>
                        </td>
                        <td class="texto">
                            <p class=" text-center">Longitud</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblMaterial">Material</label>
                        </td>
                        <td class="texto inlinecontrols" align="left">
                            <input type="text" id="txtMaterial1" class="ui-txtfield col-xs-4" ng-model="nuevoDucto.Material1">
                            <input type="text" id="txtMaterial2" class="ui-txtfield col-xs-4" ng-model="nuevoDucto.Material2">
                            <input type="text" id="txtMaterial3" class="ui-txtfield col-xs-4" ng-model="nuevoDucto.Material3">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS01" class="ui-inputfield" ng-model="nuevoDucto.NPS01">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud01" class="ui-inputfield" ng-model="nuevoDucto.Longitud01">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Schedule</label>
                        </td>
                        <td class="texto inlinecontrols" align="left">
                            <input type="text" id="txtSchedule1" class="ui-txtfield col-xs-4" ng-model="nuevoDucto.Schedule1">
                            <input type="text" id="txtSchedule2" class="ui-txtfield col-xs-4" ng-model="nuevoDucto.Schedule2">
                            <input type="text" id="txtSchedule3" class="ui-txtfield col-xs-4" ng-model="nuevoDucto.Schedule3">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS02" class="ui-inputfield" ng-model="nuevoDucto.NPS02">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud02" class="ui-inputfield" ng-model="nuevoDucto.Longitud02">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblBLPD">BLPD</label>
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtBLPD" class="ui-inputfield" ng-model="nuevoDucto.BLPD">
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtNPS03" class="ui-inputfield" ng-model="nuevoDucto.NPS03">
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtLongitud03" class="ui-inputfield" ng-model="nuevoDucto.Longitud03">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblPresion">Pres.(Psig)</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtPresion" class="ui-inputfield" ng-model="nuevoDucto.Presion">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS04" class="ui-inputfield" ng-model="nuevoDucto.NPS04">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud04" class="ui-inputfield" ng-model="nuevoDucto.Longitud04">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblPresion">Tempe(°F)</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtTemperatura" class="ui-inputfield" ng-model="nuevoDucto.Temperatura">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS05" class="ui-inputfield" ng-model="nuevoDucto.NPS05">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud05" class="ui-inputfield" ng-model="nuevoDucto.Longitud05">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblBSW">BSW</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtBSW" class="ui-inputfield" ng-model="nuevoDucto.BSW">
                        </td>
                        <td class="texto">
                            <label for="lblLongitudTotal">Longitud Total:</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitudTotal" class="ui-inputfield" placeholder="" ng-model="nuevoDucto.LongitudTotal">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="guardarOleoducto(nuevoDucto)">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="VerOleoducto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Ver Oleoducto
                </h4>
            </div>
            <div class="modal-body">
                <table border="0" align="center">
                    <tr>
                        <td class="texto">
                            <label>Código</label>
                        </td>
                        <td class="texto" align="left">
                            <div ng-class="{'has-error':verDucto.Codigo==''}">
                                <input type="text" class="form-control ui-inputfield" id="txtCodigo" readonly ng-model="verDucto.Codigo">
                            </div>
                        </td>
                        <td class="texto">
                            <label>Fecha</label>
                        </td>
                        <td align="left">
                            <input class="form-control ui-inputfield" type="date" name="date" id="date" readonly ng-model="verDucto.FechaInspeccion">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>No Lamina</label>
                        </td>
                        <td class="texto" colspan="3" align="left">
                            <div ng-class="{'has-error':verDucto.NoLamina==''}">
                                <input type="text" id="txtNoLamina" class="form-control ui-inputfield" readonly ng-model="verDucto.NoLamina">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Descripción</label>
                        </td>
                        <td class="texto" colspan="3" align="left">
                            <div ng-class="{'has-error':verDucto.Trayectoria==''}">
                                <input type="text" id="txtCodigo" class="form-control ui-inputfield" readonly ng-model="verDucto.Trayectoria">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Ubicación</label>
                        </td>
                        <td class="texto">
                            <div ng-class="{'has-error':verDucto.Ubicacion==''}">
                                <input type="text" id="txtUbicación" class="form-control ui-inputfield" readonly ng-model="verDucto.Ubicacion">
                            </div>
                        </td>
                        <td class="texto">
                            <p class="text-center">NPS</p>
                        </td>
                        <td class="texto">
                            <p class=" text-center">Longitud</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblMaterial">Material</label>
                        </td>
                        <td class="texto inlinecontrols" align="left">
                            <input type="text" id="txtMaterial1" class="form-control ui-txtfield col-xs-4" readonly ng-model="verDucto.Material1">
                            <input type="text" id="txtMaterial2" class="form-control ui-txtfield col-xs-4" readonly ng-model="verDucto.Material2">
                            <input type="text" id="txtMaterial3" class="form-control ui-txtfield col-xs-4" readonly ng-model="verDucto.Material3">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS01" class="form-control ui-inputfield" readonly ng-model="verDucto.NPS01">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud01" class="form-control ui-inputfield" readonly ng-model="verDucto.Longitud01">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Schedule</label>
                        </td>
                        <td class="texto inlinecontrols" align="left">
                            <input type="text" id="txtSchedule1" class="form-control ui-txtfield col-xs-4" readonly ng-model="verDucto.Schedule1">
                            <input type="text" id="txtSchedule2" class="form-control ui-txtfield col-xs-4" readonly ng-model="verDucto.Schedule2">
                            <input type="text" id="txtSchedule3" class="form-control ui-txtfield col-xs-4" readonly ng-model="verDucto.Schedule3">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS02" class="form-control ui-inputfield" readonly ng-model="verDucto.NPS02">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud02" class="form-control ui-inputfield" readonly ng-model="verDucto.Longitud02">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblBLPD">BLPD</label>
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtBLPD" class="form-control ui-inputfield" readonly ng-model="verDucto.BLPD">
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtNPS03" class="form-control ui-inputfield" readonly ng-model="verDucto.NPS03">
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtLongitud03" class="form-control ui-inputfield" readonly ng-model="verDucto.Longitud03">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblPresion">Pres.(Psig)</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtPresion" class="form-control ui-inputfield" readonly ng-model="verDucto.Presion">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS04" class="form-control ui-inputfield" readonly ng-model="verDucto.NPS04">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud04" class="form-control ui-inputfield" readonly ng-model="verDucto.Longitud04">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblPresion">Tempe(°F)</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtTemperatura" class="form-control ui-inputfield" readonly ng-model="verDucto.Temperatura">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS05" class="form-control ui-inputfield" readonly ng-model="verDucto.NPS05">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud05" class="form-control ui-inputfield" readonly ng-model="verDucto.Longitud05">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblBSW">BSW</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtBSW" class="form-control ui-inputfield" readonly ng-model="verDucto.BSW">
                        </td>
                        <td class="texto">
                            <label for="lblLongitudTotal">Longitud Total:</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitudTotal" class="form-control ui-inputfield" placeholder="" readonly ng-model="verDucto.LongitudTotal">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div id="EditarOleoducto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Nuevo Oleoducto
                </h4>
            </div>
            <div class="modal-body">
                <table border="0" align="center">
                    <tr>
                        <td class="texto">
                            <label>Código</label>
                        </td>
                        <td class="texto" align="left">
                            <div ng-class="{'has-error':editarDucto.Codigo==''}">
                                <input type="text" class="form-control ui-inputfield" id="txtCodigo" ng-model="editarDucto.Codigo" readonly>
                            </div>
                        </td>
                        <td class="texto">
                            <label>Fecha</label>
                        </td>
                        <td align="left">
                            <input class="ui-inputfield" type="date" name="date" id="date" ng-model="editarDucto.FechaInspeccion">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>No Lamina</label>
                        </td>
                        <td class="texto" colspan="3" align="left">
                            <div ng-class="{'has-error':editarDucto.NoLamina==''}">
                                <input type="text" id="txtNoLamina" class="form-control ui-inputfield" ng-model="editarDucto.NoLamina">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Descripción</label>
                        </td>
                        <td class="texto" colspan="3" align="left">
                            <div ng-class="{'has-error':editarDucto.Trayectoria==''}">
                                <input type="text" id="txtCodigo" class="form-control ui-inputfield" ng-model="editarDucto.Trayectoria">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Ubicación</label>
                        </td>
                        <td class="texto">
                            <div ng-class="{'has-error':editarDucto.Ubicacion==''}">
                                <input type="text" id="txtUbicación" class="form-control ui-inputfield" ng-model="editarDucto.Ubicacion">
                            </div>
                        </td>
                        <td class="texto">
                            <p class="text-center">NPS</p>
                        </td>
                        <td class="texto">
                            <p class=" text-center">Longitud</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblMaterial">Material</label>
                        </td>
                        <td class="texto inlinecontrols" align="left">
                            <input type="text" id="txtMaterial1" class="ui-txtfield col-xs-4" ng-model="editarDucto.Material1">
                            <input type="text" id="txtMaterial2" class="ui-txtfield col-xs-4" ng-model="editarDucto.Material2">
                            <input type="text" id="txtMaterial3" class="ui-txtfield col-xs-4" ng-model="editarDucto.Material3">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS01" class="ui-inputfield" ng-model="editarDucto.NPS01">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud01" class="ui-inputfield" ng-model="editarDucto.Longitud01">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label>Schedule</label>
                        </td>
                        <td class="texto inlinecontrols" align="left">
                            <input type="text" id="txtSchedule1" class="ui-txtfield col-xs-4" ng-model="editarDucto.Schedule1">
                            <input type="text" id="txtSchedule2" class="ui-txtfield col-xs-4" ng-model="editarDucto.Schedule2">
                            <input type="text" id="txtSchedule3" class="ui-txtfield col-xs-4" ng-model="editarDucto.Schedule3">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS02" class="ui-inputfield" ng-model="editarDucto.NPS02">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud02" class="ui-inputfield" ng-model="editarDucto.Longitud02">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblBLPD">BLPD</label>
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtBLPD" class="ui-inputfield" ng-model="editarDucto.BLPD">
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtNPS03" class="ui-inputfield" ng-model="editarDucto.NPS03">
                        </td>
                        <td class="texto" align="left">
                            <input type="text" id="txtLongitud03" class="ui-inputfield" ng-model="editarDucto.Longitud03">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblPresion">Pres.(Psig)</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtPresion" class="ui-inputfield" ng-model="editarDucto.Presion">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS04" class="ui-inputfield" ng-model="editarDucto.NPS04">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud04" class="ui-inputfield" ng-model="editarDucto.Longitud04">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblPresion">Tempe(°F)</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtTemperatura" class="ui-inputfield" ng-model="editarDucto.Temperatura">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtNPS05" class="ui-inputfield" ng-model="editarDucto.NPS05">
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitud05" class="ui-inputfield" ng-model="editarDucto.Longitud05">
                        </td>
                    </tr>
                    <tr>
                        <td class="texto">
                            <label for="lblBSW">BSW</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtBSW" class="ui-inputfield" ng-model="editarDucto.BSW">
                        </td>
                        <td class="texto">
                            <label for="lblLongitudTotal">Longitud Total:</label>
                        </td>
                        <td class="texto">
                            <input type="text" id="txtLongitudTotal" class="ui-inputfield" placeholder="" ng-model="editarDucto.LongitudTotal">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="actualizarOleoducto(editarDucto)">Guardar</button>
            </div>
        </div>
    </div>
</div>